.pull-requests {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  transition: filter var(--transition-duration) var(--transition-function);

  &.is-loading {
    filter: blur(4px);
    pointer-events: none;
  }
}
