/* You can add global styles to this file, and also import other style files */

:root {
  --transition-duration: 225ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);

  --link-color: #7fb2fb;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
